.gridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  gap: 1rem;
}
nav,
header,
footer {
  grid-column: 1/3;
}
.col1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.col2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.col3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.col4 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.col5 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.col6 {
  grid-column: 2/3;
  grid-row: 3/4;
}
p{
  text-align: center;
}