/* SET BASIC STYLES */
section{
    padding: 0.2rem;

    /*flex container parent*/
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
    main, section{
        flex-direction: column;
    }
}

/*===========JAVASCRIPT==========*/
.darkMode{
  background-color: black;
  color: white;
}
#hidden{
    display: block;
}