section {
  padding: 0.2rem;

  /*flex container parent*/
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  margin: auto;
  margin-bottom: 1rem;
}
@media screen and (max-width: 700px) {
  main,
  section {
    flex-direction: column;
  }
}

/*===========JAVASCRIPT==========*/
#hidden {
  display: block;
}
