@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /*
  Light Mode
  B68B9F - black
  75B9BE - black
  F3E6D7 - black

  Dark Mode
  663F52 - white
  2F6979 - white
  9E7744 - white
  */
}

body {
  font-family: "Atkinson Hyperlegible", "Nunito Sans", sans-serif;
  background-color: #F3E6D7;
  text-align: center;
}
header{
  background-color: #F3E6D7;
}
main {
  background-color: #F3E6D7 ;
}
section {
  background-color: #B68B9F;
  border-radius: 3%;
  margin: 1rem;
}
footer{
 background-color: #75B9BE; 
}

/*----------mobile layout-----------
@media screen and (max-width: 600px) {
    main, aside, section{
        grid-column: 1/13;
    }
}

/*============Hamburger Menu===============*/
a {
  color: black;
}
a:visited {
  color: black;
}
/*doesnt work with sections on homepage*/
a:hover {
  color: black;
  background-color: white;
}

/* off-screen-menu */
.off-screen-menu {
  background-color: #75B9BE;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu.active {
  left: 0;
}

/* nav */
nav {
  padding: 1rem;
  display: flex;
  background-color: #75B9BE;
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: black;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
